body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: transparent; /* Changed from gradient to transparent */
}

.disk-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

{
    width: 300px; /* Set the desired width */
    height: 200px; /* Set the desired height */
}

.spin-image {
    /*--Adjust the size of the images--*/
    width: 200px; 
    height: 200px;

    /*--Adjust the spacing between the disks--*/
    margin: 0 20px;

    /*--Adjust the animation duration as needed--*/
    animation: spin 4s linear infinite;
}

#sp3 {
    height: 255px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}